#content{
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}



@media screen and (max-width: 480px){

#a {
    height: 75px;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#b {
    height: 150px;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#c,#d {
    height: 125px;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}


#e,#f,#g,#h {
    height: 240px;
    grid-column: span 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#i {
    height: 80px;
    grid-column: span 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

    #a{background-color: #25a11a}
    #b{background-color: #34b61a}
    #c{background-color: #1ea334}
    #d{background-color: #3fa03c}
    #e{background-color: #28ca36}
    #f{background-color: #4ea825}
    #g{background-color: #1cb330}
    #h{background-color: #36ad50}
    #i{background-color: #5cb322}

}


@media screen and (min-width: 481px) and (max-width: 768px){
    #content{
        grid-template-columns: 20.83333% repeat(4, 19.79166%);
        max-width: 960px;
    }
    
    
    
    #a {
        height: 100px;
        grid-column: span 5;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #b {
        grid-area: 2 /1 / 5 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
        
        #c,#d {
            height: 200px;
            grid-column: span 2;
    
    
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        
        #e,#f,#g,#h {
            height: 250px;
    
    
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #i {
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: 4/ 2/ 4 / 6;
    
        }
        
        #a{background-color: #8a1aa1}
        #b{background-color: #9c1ab6}
        #c{background-color: #931ea3}
        #d{background-color: #a03ca0}
        #e{background-color: #9d21ad}
        #f{background-color: #9d25a8}
        #g{background-color: #b31c92}
        #h{background-color: #ad3699}
        #i{background-color: #ae22b3}
        
    }
    
    
    #content::after{
        content: "";
        display: block;
        clear: both;
        width: 100%;
        height: 0;
    }
    

@media screen and (min-width: 769px){
#content{
    grid-template-columns: 20.83333% repeat(4, 19.79166%);
    max-width: 960px;
}



#a {
    height: 100px;
    grid-column: span 5;

    display: flex;
    justify-content: center;
    align-items: center;
}

#b {
    grid-area: 2 /1 / 5 / 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
    
    #c,#d {
        height: 200px;
        grid-column: span 2;


        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    #e,#f,#g,#h {
        height: 250px;


        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #i {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 4/ 2/ 4 / 6;

    }
    
    #a{background-color: #1a8da1}
    #b{background-color: #1a9eb6}
    #c{background-color: #1e8fa3}
    #d{background-color: #3c91a0}
    #e{background-color: #2198ad}
    #f{background-color: #259da8}
    #g{background-color: #1ca6b3}
    #h{background-color: #36a3ad}
    #i{background-color: #22a6b3}
    
}


#content::after{
    content: "";
    display: block;
    clear: both;
    width: 100%;
    height: 0;
}
